[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.6"

[packages]
django = "*"
croniter = "*"
django-constance = {extras = ["database"]}
django-crispy-forms = "*"
envparse = "*"
django-widget-tweaks = "*"
aiohttp = "*"

[dev-packages]
ipython = "*"
black = "*"
pytest = "*"
pytest-sugar = "*"
