[Unit]
Description=Download gerrit changes and post status to Slack channel

[Service]
Type=oneshot

Environment='QUERY=ownerin:scb-best+AND+status:open+AND+NOT+label:Code-Review=2'
# Environment='QUERY=ownerin:scb-best+AND+status:open'

Environment=SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
Environment=CHANNEL=#scb-best

# Environment=SLACK_WEBHOOK_URL=https://hooks.slack.com/services/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
# Environment=CHANNEL=@walkman


ExecStart=/home/walkman/Dropbox/Projects/slackbot/gerrit_slack_bot.py
