<!doctype html>
<html lang="en">
<head>
  <title>Gerrit Slack Reviewer Bot Settings</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="static/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Gerrit-Slack bot beállítások</h1>
      </div>
    </div>
    {% block content %}{% endblock %}
  </div>

<script src="static/jquery-3.2.1.slim.min.js"></script>
<script src="static/bootstrap.min.js"></script>

</body>
</html>
