<!doctype html>
<html lang="en">
<head>
  <title>Gerrit-Slack bot</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="stylesheet" href="/static/bootstrap.min.css">
</head>

<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Gerrit-Slack bot</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="/">Home</a>
        </li>
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'new' %}">New</a>
        </li>
      </ul>
      {% if request.user.is_superuser %}
        <span class="navbar-text">
          <a href="{{ slack_button_url }}">
            <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
          </a>
        </span>
      {% endif %}
      <span class="navbar-text">
        <a class="nav-link" href="{% url 'usage' %}">Usage, notations</a>
      </span>
      {% if request.user.is_superuser %}
        <span class="navbar-text">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </span>
      {% endif %}
    </div>
  </nav>

  <div class="container">

    <div class="row">
      <div class="col-12 text-center">
        {% if messages %}
          {% for message in messages %}
            <div class="alert alert-dismissible fade show {% if message.tags %}{{ message.tags }}{% endif %}">
              {{ message }}
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>

    {% block content %}{% endblock %}
  </div>

<script src="/static/jquery-3.2.1.slim.min.js"></script>
<script src="/static/bootstrap.min.js"></script>
{% block js %} {% endblock %}

</body>
</html>
