{% extends "base.html" %}


{% block title %}
  {{ super() }} - edit channel
{% endblock %}


{% block content %}
  <form method="post" action="{{ url_for('edit', crontab_id=crontab_id) }}">

    <div class="form-group">
      <label for="channel">#channel or @user:</label>
      <input type="text" class="form-control" id="channel" value="{{ channel }}" disabled>
    </div>

    <div class="form-group">
      <label for="gerrit_query">Gerrit query:</label>
      <input type="text" class="form-control" id="gerrit_query" name="gerrit_query"
             placeholder="e.g. status:open+AND+NOT+label:Code-Review=2"
             value="{{ gerrit_query }}">
    </div>

    <div class="form-group">
      <label for="crontab">Crontab:</label>
      <input type="text" class="form-control" id="crontab" name="crontab"
             placeholder="e.g. 9-18 * * * mon-fri"
             value="{{ crontab }}">
    </div>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
      <div class="col-6">
        <a id="delete-button" href="{{ url_for('delete_existing', crontab_id=crontab_id) }}" class="btn btn-danger float-right">
          Delete
        </a>
      </div>
    </div>

  </form>

  {# This is here because forms cannot be nested, but deletion is on a different endpoint. #}
  <form id="delete-form" action="{{ url_for('delete_existing', crontab_id=crontab_id) }}" method="post"></form>

{% endblock %}


{% block js %}
  <script>
    $( "#delete-button" ).click(function(event) {
      event.preventDefault();
      $( "#delete-form" ).submit();
    });
  </script>
{% endblock %}
