{% extends "base.html" %}


{% block content %}
  <div class="row">
    <div class="col-6 text-left">
      {% if has_unfinished_config %}
        <form action="{{ url_for('delete_unfinished') }}" method="post" class="form-inline">
          <a href="{{ url_for('new') }}" class="btn btn-primary">Finish adding {{ unfinished_channel }} </a>
          or you can <button type="submit" class="btn btn-danger">Delete</button> it.
        </form>
      {% else %}
        <a href="{{ slack_button_url }}">
          <img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" />
        </a>
      {% endif %}
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Slack #channel</th>
            <th scope="col">Gerrit query</th>
            <th scope="col">Crontab entry</th>
            <th scope="col">Next run</th>
          </tr>
        </thead>
        <tbody>
          {% for row, cron_time in crontabs %}
            <tr>
              <td><a href="{{ url_for('edit', crontab_id=row['crontab_id']) }}">{{ row['channel'] }}</a></td>
              <td>
                <a href="{{ url_for('edit', crontab_id=row['crontab_id']) }}">
                  <pre>{{ row['gerrit_query'] }}</pre>
                </a>
              </td>
              <td><a href="{{ url_for('edit', crontab_id=row['crontab_id']) }}"><pre>{{ row['crontab'] }}</pre></a></td>
              <td>{{ cron_time.next }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>

{% endblock content %}
