{% extends "base.html" %}


{% block title %}
  {{ super() }} - add new channel
{% endblock %}


{% block content %}
  <form method="post" action="{{ url_for('save_new_to_db') }}">

    <div class="form-group">
      <label for="channel">#channel or @user:</label>
      <input type="text" class="form-control" id="channel" name="channel_name", value="{{ channel_name }}">
    </div>

    <div class="form-group">
      <label for="gerrit_query">Gerrit query:</label>
      <input type="text" class="form-control" id="gerrit_query" name="gerrit_query"
             placeholder="e.g. status:open+AND+NOT+label:Code-Review=2"
             value="{% if invalid_form %}{{ invalid_form['gerrit_query'] }}{% endif %}">
    </div>

    <div class="form-group">
      <label for="crontab">Crontab:</label>
      <input type="text" class="form-control" id="crontab" name="crontab"
             placeholder="e.g. 9-18 * * * mon-fri"
             value="{% if invalid_form %}{{ invalid_form['crontab'] }}{% endif %}">
    </div>

    <div class="row">
      <div class="col-6">
        <button type="submit" class="btn btn-primary">Add bot to {{ channel }}</button>
      </div>
      <div class="col-6">
        <a id="cancel-button" href="{{ url_for('delete_unfinished') }}" class="btn btn-danger float-right">
          Cancel
        </a>
      </div>
    </div>

  </form>

  {# This is here because forms cannot be nested, but deletion is on a different endpoint. #}
  <form id="cancel-form" action="{{ url_for('delete_unfinished') }}" method="post"></form>

{% endblock %}


{% block js %}
  <script>
    $( "#cancel-button" ).click(function(event) {
      event.preventDefault();
      $( "#cancel-form" ).submit();
    });
  </script>
{% endblock %}
