{% extends "base.html" %}


{% block title %}
 {{ block.super }} - usage
{% endblock %}


{% block content %}
  <h1>Colors:</h1>
  <span style="background-color: #36a64f;">Can integrate (+2)</span> <br>
  <span style="background-color: #DBF32D;">Almost good (+1 and Verified)</span> <br>
  <span style="background-color: #EC1313;">No review yet</span> <br>
  <br>

  <h1>Code review (CR:)</h1>
  <img src="/static/slack/thumbs_up.png" alt=":x:">: +1 <br>
  <img src="/static/slack/thumbs_up.png" alt=":x:"><img src="/static/slack/thumbs_up.png" alt=":x:">: +2 <br>
  <img src="/static/slack/poop.png" alt=":x:">: -1 <br>
  <img src="/static/slack/js.png" alt=":x:">: -2 <br>
  <img src="/static/slack/exclamation.png" alt=":x:">: No code review yet (missing) <br>
  <br>

  <h1>Jenkins Gerrit Reviewer (V:)</h1>
  <img src="/static/slack/x.png" alt=":x:">: Failed <br>
  <img src="/static/slack/white_check_mark.png" alt=":white_check_mark:">: Verified <br>
{% endblock %}
